<p>We are currenty <%= user_signed_in? ? "" : "not" %> signed in.</p>
<% if user_signed_in? %>
  <p>The user email: <%= current_user.email %></p> 
<% end %>


<%= link_to "About page", about_path, class: "btn btn-primary" %>
